{% extends "app.html" %}
{% block app %}
    <h1>User Profile</h1>
    <div class="clear"></div>
    {% if message != "" %}
    <div id="message">{{ message }}</div>
    {% endif %}
    <br/>
    <form action="/profile/" method="post" id="profile" name="profile">
        <p>
            <label for="email_address">Email:</label>
            <input type="text" name="email_address" id="email_address" value={{ user.email }} />
        </p>
        
        {{ profileForm.as_p }}
        <br/>
        <input type="submit" value="Save Changes" />
    </form>
    <script>document.profile.email_address.focus();</script>
{% endblock %}